<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>GitOps - 從 Git 出發</title>
    <link href='/static/style.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body>
   <div class="large-container">
    <div id="welcome-name">
      <h1>Congrats, you did it!</h1>
      <div id="user-name" class="swing animated" style="display: block;">
        <pre><code>      ___            ___         ___           ___                      ___           ___           ___           ___           ___     
     /|  |          /\  \       /\  \         /\  \        ___         /\  \         /\__\         /\  \         /\  \         /\  \    
    |:|  |         /::\  \     /::\  \       /::\  \      /\__\       /::\  \       /:/ _/_       _\:\  \       /::\  \        \:\  \   
    |:|  |        /:/\:\__\   /:/\:\__\     /:/\:\  \    /:/__/      /:/\:\  \     /:/ /\__\     /\ \:\  \     /:/\:\  \        \:\  \  
  __|:|__|       /:/ /:/  /  /:/ /:/  /    /:/  \:\  \  /::\  \     /:/ /::\  \   /:/ /:/ _/_   _\:\ \:\  \   /:/  \:\  \   _____\:\  \ 
 /::::\__\_____ /:/_/:/  /  /:/_/:/__/___ /:/__/ \:\__\ \/\:\  \   /:/_/:/\:\__\ /:/_/:/ /\__\ /\ \:\ \:\__\ /:/__/ \:\__\ /::::::::\__\
 ~~~~\::::/___/ \:\/:/  /   \:\/:::::/  / \:\  \ /:/  /  ~~\:\  \  \:\/:/  \/__/ \:\/:/ /:/  / \:\ \:\/:/  / \:\  \ /:/  / \:\~~\~~\/__/
     |:|~~|      \::/__/     \::/~~/~~~~   \:\  /:/  /      \:\__\  \::/__/       \::/_/:/  /   \:\ \::/  /   \:\  /:/  /   \:\  \      
     |:|  |       \:\  \      \:\~~\        \:\/:/  /       /:/  /   \:\  \        \:\/:/  /     \:\/:/  /     \:\/:/  /     \:\  \     
     |:|__|        \:\__\      \:\__\        \::/  /       /:/  /     \:\__\        \::/  /       \::/  /       \::/  /       \:\__\    
     |/__/          \/__/       \/__/         \/__/        \/__/       \/__/         \/__/         \/__/         \/__/         \/__/    
</code></pre>
      </div>
    </div>
  </div>
    <div class="container">
      <h2 style="text-align: center;">You <strong>pull request</strong> with the best of 'em.</h2>
      <h3>You now know alternate meanings for the words <strong>fork</strong> and <strong>branch</strong> and you've <strong>collaborated</strong> with someone (or robot) elsewhere.  Below are the <strong>last 100</strong> to have completed Git-it.</h3>

      <div id="compatriots">
        <ul class="compatriots-list">
          {% for message in messages %}
          <li><span class="userdetail"><a href="https://www.github.com/" target="_blank">{{ message.display_name }}</a></span>: <span class="userdate">{{ message.message }}</span></li>
          {% endfor %}
        </ul>
      </div>

      
    </div>
  </body>
</html>
